html {
  /* height: 400%; */
  z-index: -2;
  margin-bottom: 0;
}

body {
  background-color: #24272E;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  /* min-height: 100%; */
  position: relative;
}

/* NAV BAR */
.header-bar {
  position: fixed;
  width: 100%;
  /* background-color: black; */
  top: 0;
  left: 0;
  font-size: small;
  color: white;
  z-index: 1;
  height: 55px;
}

.main-nav .nav-link {
  font-size: 14px;
  padding-top: 10px;
  /* padding: 26px 18px; */
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 1;
  /* display: block; */
  z-index: 3;
}

.nav-item {
  margin-right: 3rem;
  margin-left: 3rem;
  display: inline;
}

#intro-container {
  height: 100%;
}

#stats-container-2 {
  background: black;
}

#intro-stats-container {
  height: 100%;
  padding: 7%;
}

#intro-stats-container img {
  position: relative;
}

#intro-stats-container p {
  position: relative;
  float: right;
  text-align: right;
}

#overlay {
  margin-top: 0px;
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 48%, rgba(255,255,255,0) 100%); */
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0.7693671218487395) 23%, rgba(0,0,0,0.13071165966386555) 50%, rgba(0,0,0,0.7945772058823529) 71%, rgba(0,0,0,0.9962578781512605) 80%, rgba(0,0,0,1) 100%);
  width : 100%;
  height : 100%;
  z-index : 1;
  top: 0;
  left: 0;
  right: 0;
}

#overlay2 h1 {
  text-shadow: 3px 3px 3px black;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  /* text-shadow: 0 0 10px #002D62, 0 0 20px #002D62, 0 0 30px #00308F, 0 0 40px #00308F, 0 0 50px #00308F, 0 0 60px #00308F, 0 0 70px #00308F; */
}

#overlay2 {
  font-family: 'Source Code Pro', monospace;
  margin-top: 0px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7413559173669468) 40%, rgba(0,0,0,1) 100%);
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 90%); */
  width : 100%;
  /* height : 400px; */
  z-index : 1;
  top: 0;
  left: 0;
  right: 0;
}

#overlay3 {
  margin-top: 0;
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); */
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 24%, rgba(255,255,255,0.8477984943977591) 36%, rgba(255,255,255,0.7049413515406162) 44%, rgba(255,255,255,0) 100%); */
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,0.40242034313725494) 32%, rgba(255,255,255,0) 50%); */
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7553615196078431) 60%, rgba(255,255,255,0) 100%);
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(0,0,0,0.40242034313725494) 51%, rgba(255,255,255,0) 100%); */
  width : 100%;
  /* height : 400px; */
  z-index : 1;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  font-family: 'Source Code Pro', monospace;
}

#overlay4 {
  height: 100%;
  font-family: 'Source Code Pro', monospace;
  color: white;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,0,0.774969362745098) 10%, rgba(0,0,0,0.528470763305322) 20%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.5536808473389356) 80%, rgba(0,0,0,0.7609637605042017) 90%, rgba(0,0,0,1) 100%);
  /* background-color: rgb(0,0,0);
  background-color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.774969362745098) 10%, rgba(0,0,0,0.528470763305322) 20%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.5536808473389356) 80%, rgba(0,0,0,0.7609637605042017) 90%, rgba(0,0,0,1) 100%); */
}

#overlay p {
  font-family: 'Source Code Pro', monospace;
}

#tech {
  position: absolute;
  width:100%;
  /* height:100%; */
  margin-top: 0;
  margin-left: 0;
  z-index: -1;
}

#binary {
  position: absolute;
  width:100%;
  height:100%;
  margin-top: 0;
  margin-left: 0;
  z-index: -1;
}

#binary img, #tech img {
  width: 100%;
}



.fade-in-image {
  animation: fadeIn 5s;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#anchor1 {
  font-family: 'Source Code Pro', monospace;
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.23435311624649857) 65%, rgba(215,219,226,0.4640449929971989) 74%, rgba(116,130,155,0.590095413165266) 84%, rgba(0,0,0,1) 100%); */
  /* background: rgb(1,1,1);
  background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(0,0,0,0.5592830882352942) 20%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.5452774859943977) 80%, rgba(0,0,0,1) 100%); */
  /* background: rgb(1,1,1);
  background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(0,0,0,0.5592830882352942) 10%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 70%, rgba(0,0,0,0.5480786064425771) 90%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,6,37,1) 3%, rgba(0,9,55,0.40242034313725494) 11%, rgba(255,255,255,0.22875087535014005) 22%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.1951374299719888) 77%, rgba(0,9,55,0.3884147408963585) 89%, rgba(0,6,37,1) 97%, rgba(0,0,0,1) 100%); */
  background-color: black;
}
#anchor1 p {
  /* font-size: 30px;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%; */
}

#gradient3 {
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8814119397759104) 21%, rgba(116,130,155,0.3968181022408963) 34%, rgba(255,254,254,0) 100%); */
}

#anchor5 h1 {
  font-family: 'Source Code Pro', monospace;
  color: black;
  /* padding-top: 15%; */
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bolder;
  color: #2339ab;
  /* color: #036e95; */
}

#anchor5 {
  padding-top: 10%;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  z-index: -1;
  margin: 0;
  padding: 0;
}
/* section {
  height: 100vh;
} */
.tag {
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.yellow {
  /* background-color: #EF3EAA; */
  /* background: rgb(239,62,170);
  background: linear-gradient(90deg, rgba(239,62,170,1) 0%, rgba(130,148,220,1) 45%, rgba(160,218,229,1) 100%); */
  /* background: rgb(155,60,188);
  background: linear-gradient(90deg, rgba(155,60,188,1) 0%, rgba(206,35,176,1) 30%, rgba(160,218,229,1) 100%); */
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(155,60,188,1) 71%, rgba(239,62,170,1) 100%);
}
.red {
  background-color: #BA7FD1;
}
.blue {
  background-color: #C7B4E2;
}
.green {
  background-color: #8294DC;
}

p {
  font-family: 'Source Code Pro', monospace;
  /* text-transform: uppercase; */
  font-weight: 500;
}

/* @font-face{
  font-family: 'digital-clock-font';
  src: url('digital-7.regular.ttf');
 } */

#countdown {
  font-family: 'Orbitron';
  font-size: 30pt;
  color: #f00;
  margin: 50px 0;
  display: inline-block;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  margin-left: 5%;
  width: 90%;
}

#countdown span {
  font-size: 100px;
  font-weight: normal;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  /* border-style: solid; */
  /* border-color: white; */
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  width: 11%;
  padding-left: 1%;
  padding-right: 3%;
  text-align: center;
  /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
  text-shadow: 0 0 10px #002D62, 0 0 20px #002D62, 0 0 30px #00308F, 0 0 40px #00308F, 0 0 50px #00308F, 0 0 60px #00308F, 0 0 70px #00308F;
}

#countdown p {
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  font-weight: normal;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.img-grid {
  display: flex;
  justify-content: space-around;
}

.container {
  float: left;
  position: relative;
  width: 25%;
  display: inline-block;
}

.image img {
  width: 100%;
  height: 3in;
}

.image {
  float: left;
}

.title {
  width: 30%;
  position: absolute;
  bottom: 0; left: 0;
}

#anchor5 {
  box-sizing: border-box;
  background: black;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.column p {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 0;
}

#anchor5 p, #anchor5 h1, #anchor h5 {
  color: white;
}

#anchor5 h5 {
  padding-top: 5%;
  font-size: 20px;
  font-weight: bold;
}

#anchor5 a {
  font-size: 15px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.collapsible {
  font-family: 'Source Code Pro', monospace;
  background-color: #055a8c;
  color: white;
  cursor: pointer;
  margin-left: 9%;
  /* width: 100%; */
  border: none;
  text-align: right;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
}

.active, .collapsible:hover {
  /* background-color: green; */
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  /* padding: 0 18px; */
  margin-top: 3%;
  margin-left: 9%;
  margin-right: 7%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
  background-color: black;
}

#collapsible-p {
  font-size: 20px;
}

/* @-webkit-keyframes glow {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
} */